*{


	margin: 0px;
	padding: 0px;
}

body{
	background-color: #f0f2eb;
}

.wrapper {

	width: 940px;
	margin: 0 auto;
}

header .header-bottom {

	height: 61px;
	background: #ffffff;
	border-radius: 10px;
	margin-top: 10px;
	padding-top: 10px;


}

header .header-bottom .sitemenu {

		width: 148px;
		height: 50px;
		background-color: #ffffff;
		color: #cccdc9;
		display: block;
		font-family: sans-serif;
		text-transform: uppercase;
		box-sizing: border-box;
		padding: 17px 0px 0px 16px;
		float: left;
}

header .header-bottom .sitemenu i {

	color: #c7df5e;
}

header .header-bottom .menu li {

	float: left;
	list-style: none;
	font-family: sans-serif;
	color: #8b8c88;
	margin: 16px 0px 0px 99px;

}

header .header-bottom .menu li {
	display: inline-block;
	border-bottom: 3px solid #c2e0e1;
	padding: 0px 0px 25px 0px;

	}